@import "hackage.css";

html {
  background-color: #f0eeec;
}

blockquote {
  border-left: 3px solid #a9ccff;
  background-color: #d7e8ff;
}

a[href]:link {
  color: #0f6fff;
}

a[href]:visited {
  color: #4373fd;
}

.caption,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #003e7b;
}

strong.warning {
  color: #13171b;
}
